{% extends 'base_dash.html' %}
{% load static %}

{% block head %}
  <script src="{% static 'js/dash.js' %}"></script>
  <title>Magma - DashBoard</title>
{% endblock %}


{% block body %}

<div>
    <h4> Dashboard (EM CONSTRUÇÃO)</h4>
    <hr>
    <h5>Certificados por Modelo</h5>
    <canvas id="myChart" style="max-width: 700px;max-height: 700px;"></canvas>

    <label id="json" style="display:none;"> {{certificates}}</label>
  </div>
  
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

{% endblock %}